
ul {
}
ul li{
list-style:none;
display:inline-block;
float:center;
}
ul li a {
text-decoration:none;
padding:0 10px;
}

#header{
    background: violet;
    top:0%;
    left:0px;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index:1;
#footer{
    background: pink;
    position: fixed;
    top:95%;
    left:0px;
    width: 100%;
    height: 100%;
    z-index:1;
}
#leftcol{
    background: rgb(152, 72, 72);
    position: fixed;
    top:10%;
    left:0px;
    width: 10%;
    height: 100%;
    z-index:-1;
}
#content{
    background:none;
    position: relative;
    top:52%;
    left:10%;
    width: 55%;
    height: 1000px;
    z-index:-2;
    float:center;
    paddig:0 10px;
    margin-left:5%;
    margin-right:5%;
   
}
#rightcol{
    background: rgb(152, 72, 72);
    position: fixed;
    top:10%;
    left:80%;
    width: 20%;
    height: 100%;
    z-index:-1;
    margin-right:auto;
    margin-left:auto;
}
